@model DigitalisierungBestellungJosera.Models.Bestellung

@{
    ViewData["Title"] = "Details";
}

<h1>Bestellungs Details</h1>

<div class="schrift">
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BestellungsNr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BestellungsNr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bestelldatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bestelldatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kunde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kunde.Vorname)
            @Html.DisplayFor(model => model.Kunde.Name)
        </dd>
        <dt class="col-sm-2">
            Adresse
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kunde.PLZ)
            @Html.DisplayFor(model => model.Kunde.Ort)
            @Html.DisplayFor(model => model.Kunde.Straße)
            @Html.DisplayFor(model => model.Kunde.Nr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tour.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="link" asp-action="Edit" asp-route-id="@Model?.Id">Bearbeiten</a> |
    <a class="link" asp-action="Index">Zurück</a>
</div>
<div>
    <br /> <br />
    <h4>Positionen</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-10">
            <table class="table">
                @* <tr>
                    <th>Produkt</th>
                    <th>ChargeNr</th>
                    <th>Stückzahl</th>
                    
                    
                </tr> *@
                            
                <td class="actions-cell">
                    <div class="product-info">
                        @foreach (var position in Model.Positionen)
                        {
                            <div class="position">
                                <span class="schrift"><strong>Produkt: </strong>@position.Produkt.Name</span>

                                <span class="schrift"><strong>ChargeNr: </strong>ChargeNr: @position.Produkt.ChargeNr|</span>

                                <span class="schrift"><strong>Stückzahl: </strong> @position.Stückzahl stk|</span>
                            </div>
                        }
                    </div>
                </td>

            </table>
        </dd>
    </dl>
</div>