@model DigitalisierungBestellungJosera.Models.Produkt

@{
    ViewData["Title"] = "Details";
}

<h1>Produkt Details</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChargeNr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChargeNr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preis_in_EURO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preis_in_EURO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gewicht_in_KG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gewicht_in_KG)
        </dd>
    </dl>
</div>
<div>
    <a class="link" asp-action="Edit" asp-route-id="@Model?.Id">Bearbeiten</a> |
    <a class="link" asp-action="Index">Zurück</a>
</div>
